*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: green;
}
header a {
	text-decoration: none;
	font-size: 1.5rem;
	margin: 1rem;
}
body {
	margin: 0 auto;
	max-width: 820px;
}
nav {
	margin-top: 3rem;
}
section {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	line-height: 1.5;
	gap: 3rem 1rem;
}
section img {
	width: 220px;
	height: 220px;
}
section button {
	margin: 1rem 0.3rem 0 0;
	padding: 0.3rem;
	cursor: pointer;
	background: none;
	border: 1px solid green;
	font-size: 1rem;
	border-radius: 5px;
}
section button + button {
	background: rgb(61, 99, 61);
	color: #ffffffd2;
}
.x,
.dn,
.ovrly {
	display: none;
}
.db {
	display: block;
}
.ovrly {
	position: fixed;
	inset: 0;
	background: #e4e9e16a;
}
[actv] {
	color: orange;
	text-decoration: underline;
}
[actv]:hover {
	text-decoration: none;
}
nav a:hover {
	border-bottom: 2px solid;
}
.usr img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 3%;
	right: 26%;
	cursor: pointer;
}
.c {
	position: absolute;
	font-size: 2rem;
	top: 0;
	margin-left: 12px;
}
section a {
	width: 300px;
}
s {
	color: #444;
	margin: 20px;
}
@media (max-width: 700px) {
	header a {
		display: block;
		border-bottom: 2px solid #fff;
	}
	header {
		padding: 1rem;
		width: 300px;
		position: absolute;
		top: 0;
		right: 0;
		height: 300vh;
		transition: all 0.3s linear;
	}
	header nav {
		display: none;
	}
	section {
		grid-template-columns: repeat(2, 1fr);
		margin-left: 2rem;
	}
	.x {
		display: block;
		position: absolute;
		right: 50px;
		cursor: pointer;
		font: 2rem sans-serif;
	}
	header:has(nav.db) .x {
		right: 320px;
		transition: all 0.3s linear;
	}
	header:has(nav.db) {
		background-color: #fff;
		box-shadow: -5px 4px 6px #eee;
	}
	header:has(nav.db) {
		z-index: 1;
	}
	:has(nav.db) .ovrly {
		display: block;
	}
	header a:hover {
		border-color: green;
	}
	.c {
		top: 0.7%;
		left: -103.9%;
	}
	.usr img {
		top: 0.5%;
		right: 35%;
	}
	header:has(nav.db) .usr {
		display: none;
	}
}

section a {
	width: 266px;
}
.buy {
	margin: 50px auto;
	max-width: 1211px;
}
.buy * {
	width: 300px;
	margin: 20px 0;
}
.buy input {
	padding: 10px;
	width: 200px;
}
.buy button {
	padding: 10px;
	cursor: pointer;
	width: 90px;
}

.usr {
	display: none;
}

@media (max-width: 425px) {
  header {
    right: -180px;
  }
  .c {
    left: -90%;
  }
  .buy {
    margin-left: 1rem;
  }
}

@media (max-width: 375px) {
  .c {
    left: -80%;
  }
}

@media (max-width: 320px) {
  header {
    right: -230px;
  }
  .c {
    left: -70%;
  }
  section a {
    grid-template-columns: 1fr;
  }
}